#background {
background-image: url('Pics/the%20duane.gif');
background-size: cover;
    background-color: forestgreen;

}

#intro {
font-family: cursive;
    color: fuchsia;
}

#spinningpic {
		-webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(900deg);
		}
}
